<footer>
  <div class="footer-social-links">
    <a href="https://www.facebook.com/victorcharlie.team" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/@victorcharlie-team" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/victorcharlie.team" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.tiktok.com/@victorcharlie.team" target="_blank"><i class="fab fa-tiktok"></i></a>
  </div>
</footer>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-36WGY48938"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-36WGY48938');
  </script>
